#wrapper{width: 990px;height: auto;margin: 0px auto}
#header{width: auto;height: 200px;background: dodgerblue}
#content{width: auto;height: 500px;background: lemonchiffon}
#footer{width: auto;height: 100px;background: black}
